# Local deployment settings

from settings import MIDDLEWARE_CLASSES, INSTALLED_APPS, here

DEBUG = True
TEMPLATE_DEBUG = DEBUG

DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
		'NAME': 'tickettracker', # Or path to database file if using sqlite3.
		'USER': 'root', # Not used with sqlite3.
		'PASSWORD': '', # Not used with sqlite3.
		'HOST': '', # Set to empty string for localhost. Not used with sqlite3.
		'PORT': '', # Set to empty string for default. Not used with sqlite3.
	}
}

# The following settings help you enable the Django Debug Toolbar

MIDDLEWARE_CLASSES += (
#	'debug_toolbar.middleware.DebugToolbarMiddleware',
)

INTERNAL_IPS = ('127.0.0.1',)

INSTALLED_APPS += (
	'debug_toolbar',
)
DEBUG_TOOLBAR_CONFIG = {
    'INTERCEPT_REDIRECTS': False,
}
