{% extends 'skeleton.html' %}{% block title %}TicketTracker - Password Reset{% endblock title %}
{% block sidebar %}{% endblock sidebar %}{% block main %}<div id="tt-main-layout">
			<div id="tt-auth">
				<div class="tt-auth-block">
					<p>You have received an email with the instruction for your password reset and a link to the page where you can finish the process. <strong>Your old password is no longer usable.</strong></p>
				</div>
			</div>
		</div>{% endblock main %}{% block main_classes %} class="tt-login"{% endblock main_classes %}