{% extends 'skeleton.html' %}{% block title %}TicketTracker - Password Reset{% endblock title %}
{% block sidebar %}{% endblock sidebar %}{% block main %}<div id="tt-main-layout">
			<div id="tt-auth">
				<p>Hi! Welcome to service pages for TicketTracker</p>
				<p>After you submit the form with the new data, you will receive an email with the link for confirmation of the change.</p>
				{% include 'blocks/password_reset.html' %}
			</div>
		</div>{% endblock main %}{% block main_classes %} class="tt-login"{% endblock main_classes %}